{;; cljfmt configuration for vis
 :indents {#re ".*" [[:inner 0]]}
 :extra-indents
 {;; Lazytest (testing framework)
  lazytest.core/defdescribe                          [[:inner 0]]
  lazytest.core/describe                             [[:inner 0]]
  lazytest.core/it                                   [[:inner 0]]
  lazytest.core/expect-it                            [[:inner 0]]
  lazytest.core/around                               [[:inner 0]]
  lazytest.core/before                               [[:inner 0]]
  lazytest.core/after                                [[:inner 0]]
  lazytest.core/before-each                          [[:inner 0]]
  before-each                                        [[:inner 0]]
  lazytest.core/after-each                           [[:inner 0]]
  after-each                                         [[:inner 0]]}}
