;; Anthropic API-key + Claude subscription OAuth providers.
{:paths ["src" "resources"]
 :deps {com.blockether/vis {:local/root "../../.."}
        com.cnuernber/charred {:mvn/version "1.039"}
        org.babashka/http-client {:mvn/version "0.4.23"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.noahtheduke/lazytest {:mvn/version "2.0.0"}}
         :main-opts ["-m" "lazytest.main" "--dir" "test"]}}}
