{:aliases {:test {:extra-deps {io.github.noahtheduke/lazytest {:mvn/version "2.0.0"}}
                  :extra-paths ["test"]
                  :main-opts ["-m" "lazytest.main" "--dir" "test"]}}
 :deps {com.blockether/vis {:local/root "../../.."}}
 :paths ["src" "resources"]}
