{:paths ["src" "resources"]
 :deps {com.blockether/vis {:local/root "../../.."}
        io.github.enajski/bridge {:git/sha "360cca1d865007fef676b38ba70b5b8a13d6017d"}}
 :aliases
 {:test {:extra-deps  {io.github.noahtheduke/lazytest {:mvn/version "2.0.0"}}
    :extra-paths ["test"] 
         :main-opts ["-m" "lazytest.main"
                     "--dir" "test"]}}}
